body {
    background-color: #070707;
    color: white;
    font-family: 'News Cycle', Courier;
    text-align: center;
}

header {
    background-color: #C60000;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header img {
    width: 30px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

input {
    background: black;
    border: 2px solid #C60000;
    color: #C60000;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}

input::placeholder {
    color: #C60000;
    text-align: center;
    font-family: Orbitron;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #C60000;
    color: black;
    font-family: Post No Bills Jaffna ExtraBold;
    font-weight: bolder;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background-color: darkred;
}

#imagensContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0px; 
}

#caveira, #mao {
    width: 150px; 
    margin-top: -40px;
}

table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid #C60000;
    padding: 10px;
}

p strong {
    color: #C60000;
}

h1 {
    color: #C60000; 
    text-align: center; 
    font-size: 3em;
    text-transform: uppercase; 
    margin-bottom: 20px;
}

h2 {
    color: #C60000;
    line-height: 1.6;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
}

p, h3 {
    color: white;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.section {
    background-color: #222; 
    padding: 20px;
    border-radius: 10px;
    flex: 1; 
    min-width: 300px; 
    max-width: 500px; 
    text-align: center; 
}

.section img {
    width: 100%; 
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 40px; 
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    padding: 20px;
}

.button-container a {
    background-color: #C60000;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
}


.btn-cadastro {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #C60000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-cadastro:hover {
    background-color: darkred;
}

.btn-entrar {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #C60000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-entrar:hover {
    background-color: darkred;
}