* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #070707;
    gap: 20px; 
}

#imagensContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0px; 
}

#caveira, #mao {
    width: 200px; 
    margin-top: -70px;
}

form {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
    padding: 20px;
    border-radius: 8px; 
}

input::placeholder {
    color: #C60000;
    text-align: center;
    font-family: Orbitron;
    font-weight: bold;
}

input[type="email"], input[type="password"], input[type="submit"] {
    background: black;
    border: 2px solid #C60000;
    color: #C60000;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}

input[type="submit"] {
    background-color: #C60000;
    color: black;
    font-family: Post No Bills Jaffna ExtraBold;
    font-weight: bolder;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background-color: darkred;
}

#linkCadastro {
    text-decoration: none;
    color: #3D3737; 
}

#linkCadastro:hover {
    text-decoration: underline; 
}
